{%- comment -%}
  Include vars:
	title
    date
    subtitle
	photo
	photo-alt
	auto-header
	content
    url
    category
    tags
{%- endcomment -%}


{%- assign _title = include.title | default: 'Untitled' -%}
{%- assign _slug = include.title | strip_html | slugify | default: 'untitled' -%}

{%- if include.photo and include.photo-alt -%}
	{%- capture _photo -%}
        <img src="{{- include.photo | relative_url -}}" alt="{{- include.photo-alt -}}" class="image fit">
	{%- endcapture -%}
	{%- assign _class = 'shade-one  dark' -%}
{%- else -%}
	{%- assign _photo = '' -%}
	{%- capture _class -%}shade-{%- cycle 'two', 'three', 'four', 'three' -%}{%- endcapture -%}
{%- endif -%}

{%- if include.auto-header == 'none' -%}
	{%- assign _heading = "" -%}
{%- else -%}
	{%- capture _heading -%}
		<header style="margin:0">
        
            <a href="/category/{{ include.category }}" style="color:#1487c9; font-weight: bold;">{{- include.category -}}</a>  &nbsp; |  &nbsp; {{- include.tags -}}
        
        <h2 href="{{ include.url }}" style="font-weight: bold;font-size: 22px;">
        {%- if include.auto-header == null or include.auto-header == 'use-title' -%}
          {{- _title -}}  
        {%- else -%}
          {{- include.auto-header -}}
        {%- endif -%}
                {% if include.subtitle %}&nbsp;<b><i> {{- include.subtitle -}}</i></b>{% endif %}
        </h2>
        {%- if include.date -%}
            <i>{{- include.date -}}</i>
        {%- endif -%}
		</header>
	{%- endcapture -%}
{%- endif -%}


<div class="card" style="padding:0em;margin:1em;">
  <div class="row" style="padding:0em;margin:0em;">
    <div class="4u 12u$(mobile)" style="padding:1em;">
        <a href="{{ _post.url }}" class="image fit">
         {{- _photo -}}
         </a>
    </div>
    <div class="8u 12u$(mobile)" style="padding:1em;font-size: 16px;margin=0;">
        {{- _heading -}}
        {{- include.content -}}
    </div>
  </div>
</div>
