---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
                <h3>{% if page.subtitle %}{{- page.subtitle -}}{% endif %}</h3>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
                {% if page.photo and page.photo-alt %}
                        <img src="{{- page.photo | relative_url -}}" alt="{{- page.photo-alt -}}" class="back">
                {% endif %}
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>