---
layout: default
---
{%- include header.html -%}


<!-- Main -->
<div id="main">
	<!-- Page -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>Tag: {{ page.name | replace: '.md', '' }}</h2>
				{%- if page.subtitle -%}<p>{{- page.subtitle -}}</p>{%- endif -%}
                
                {% for post in site.tags[page.tag] %}
				<li><a href="{{ post.url }}">{{ post.title }}</a> - <i>{{ post.subtitle }}</i> ({{ post.date | date_to_string }})</li>
                {% endfor %}
			</header>
        
        <!-- Tag summary -->
        {%- include tag_summary.html -%}
	  </div>
	</article>
</div>

